%p
  = link_to 'New Flyer', new_flyer_path, class: 'btn btn-primary'

- @flyers.each do |flyer|
  .flyer
    %h2= link_to flyer.band_list, flyer
    = flyer.venue_full_name
    = flyer.happened_on.strftime('%B %d, %Y')
