.row
  #blurb.span12
    This is my collection of concert flyers. I started collecting them 
    during college and continued to hold onto them over the years. These 
    are mostly from shows in Lawrence, Kansas, and Seattle, Washington. 
    I began digitizing them around 2003 and created this database for 
    them in 2010.

= render 'shared/flyers', flyers: @flyers