// Place all the styles related to the flyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blurb {
  font-size: 300%;
  line-height: 160%;
  margin-bottom: 40px;
  text-align: justify;
  color: #ccc;
  font-weight: 100;
}

.flyer-thumb {
  height: 300px;
   img {
    -moz-box-shadow: 5px 5px 7px #ccc;
    -webkit-box-shadow:5px 10px 7px #ccc;
    box-shadow: 5px 5px 7px #ccc;
    margin-bottom: 10px;
  }
}

.flyer-medium {
   img {
    -moz-box-shadow: 10px 10px 15px #ccc;
    -webkit-box-shadow: 10px 10px 15px #ccc;
    box-shadow: 10px 10px 15px #ccc;
  }
}